@model BSMS.bsms.localhost.AUTHOR
@using BSMS.Session;
@using BSMS.Models;
@{
    ViewBag.Title = "AuthorDetail";
    ViewBag.Page = "Author";
    SessionHandler loginSession = new SessionHandler();
}

<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index","home")">Home</a></li>
            <li><a href="@Url.Action("AuthorList","Author")">Authors</a></li>
            <li class="active">Author Detail</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->

<div class="container">
    <br><br><br>
    <div class="row">
        
        <div class="col-md-4">
            <img src="@Model.THUMBNAIL_PATH" width="100%" />
        </div>
        <div class="col-md-8">
            @Model.BIOGRAPHY
        </div>
    </div>

    <div class="row">
        <br><div class="title"><span>Books From this author</span></div><br><br>
        @foreach (var item in AuthorModel.BookByAuthor(Model.AUTHORID))
        {
            IEnumerable<BSMS.bsms.localhost.BOOK_IMAGE> bookImage = BSMS.Models.BookModel.GetBooksImages().Where(bi => bi.BOOKID == item.BOOKID);
            <div class="col-sm-2 col-lg-2 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="@Url.Action("BookDetail", "Book", new { id = item.BOOKID })">
                            <img alt="Product" src="@bookImage.ElementAt(0).IMAGEPATH">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-default arrowed">New</span></span>
                        </div>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-danger arrowed-right">Sale</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>

                            @if (loginSession.AuthenticatedUser() == null)
                            {
                                <a onclick="loginRequired()" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            }
                            else if (loginSession.ISCustomer())
                            {
                                <a onclick="addToWishList(@item.BOOKID)" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            }
                            else
                            {
                                <a disabled data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            }
                        </div>
                    </div>
                    <h6><a href="detail.html"> @item.NAME </a></h6>
                    <div class="price">
                        <div>$@(item.PRICE - ((item.PRICE * item.PERCENTAGE_OFF) / 100) ) <span class="label-tags"><span class="label label-default">-@item.PERCENTAGE_OFF%</span></span></div>
                        <span class="price-old">$@item.PRICE</span>
                    </div>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>

        }

    </div>
</div>