@model IEnumerable<BSMS.bsms.localhost.USER>

@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Staff";
    ViewBag.Action = "List Staff";
    Layout = "~/Views/Shared/LDashboard.cshtml";
}

<style type="text/css">
    .staffcard{
        transition: width 2s;
    }
    .staffcard:hover{
        width:10px
    }
</style>

<div class="container">

    <p>
        <a href="@Url.Action("AddStaff","Staff")">
            <span class="fa fa-plus-circle"></span>
        </a>
    </p>
    <div class="row">

        @foreach (var item in Model)
        {
             string img_Path = (item.THUMBNAIL_PATH == null || String.IsNullOrEmpty(item.THUMBNAIL_PATH)) ? "/UserImages/avatar.png" : @item.THUMBNAIL_PATH;

                        <!-- Column -->
                <div class="col-lg-3 staffcard">
                    <div class="card">

                        <div class="thumbnail">
                            <div style="background-image:url('@img_Path'); height:250px; background-size:100% 100%"></div>
                            <div class="caption" style="width:100%">
                                <table width="100%">
                                    <tr>
                                        <td> Email </td>
                                        <td class="text-right"> @item.EMAIL </td>
                                    </tr>
                                    <tr>
                                        <td> Username </td>
                                        <td class="text-right"> @item.USERNAME </td>
                                    </tr>
                                    <tr>
                                        <td> Role </td>
                                        <td class="text-right"> @item.ROLE.ROLE1 </td>
                                    </tr>
                                </table>
                                <p>
                                    <div class="btn-group" style="width:100%">
                                        <a href="@Url.Action("ViewProfile", new { id = item.USERID })" class="btn btn-primary" style="width:33%">
                                            <span  style="color:white" class="fa fa-eye"></span>
                                        </a>

                                        <a class="btn btn-danger" style="width:33%" onclick="confirmDelete(@item.USERID)">
                                            <span style="color:white" class="fa fa-remove"></span>
                                        </a>

                                        <a class="btn btn-danger" style="width:33%" href='@Url.Action("UpdateStaff", new { id = item.USERID })'>
                                            <span  style="color:white" class="fa fa-edit"></span>
                                        </a>
                                    </div>

                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                }

    </div>
</div>

<script>

    function ViewDetail(id) {

        $.sweetModal({
            title: 'HTML Content',

            theme: $.sweetModal.THEME_DARK
        });

    }


    function confirmDelete(id) {
        swal({
            title: 'Are you sure you want to Delete this user ?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then(function () {
            swal({
                title: 'Request Processing',
                text: 'BSMS is processing account removal request'
            })
            window.location = '@Url.Action("Delete", "Staff")/' + id;
        }, function (dismiss) {

            if (dismiss === 'cancel') {
                swal(
                  'Cancelled',
                  'You have Cancel the Delete Event :)',
                  'error'
                )
            }
        })

    }
</script>
